@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');

.inter-regular {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

  .miama {
    font-family: 'Miama', sans-serif;
    font-weight: 100;
    font-size: 8.2rem;
  }


/* Common and Shared styles */

body {
    background-color: black;
    color: white;
}

header {
    background: linear-gradient(180deg, 
    rgb(2, 2, 2), 
    rgb(29, 29, 29)55%,
    rgb(2, 2, 2));
}

.flex {
    display: flex;
}

.container {
    width: 90%;
    margin: 2rem auto;
}

.margin {
    margin-bottom: 80px;
}

p {
    color: rgba(255, 255, 255, 0.5);
}

.white2 {
    color: rgba(255, 255, 255, 0.5);
}

h4 {
    font-size: 3rem;
    font-weight: bolder;
    margin-bottom: 10px;
}

/* Nav bar design */

.nav-bar {
    justify-content: space-between;
    align-items: center;
}

.intro-title {
    color: #E6533C;
    font-style: italic;
    font-size: 2.25rem;
    font-weight: 800;
}

.home-btn {
    background: #E6533C;
    color: white;
    border: none;
    padding: 12px 40px;
    border-radius: 46px;
    font-weight: bold;
    font-size: 1.1rem;
}

.nav-option {
    gap: 65px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 4px 25px 4px 4px;
    border-radius: 39px;
}

.nav-option p {
    font-size: 1.1rem;
    color: white;
}

.ham-burger {
    display: none;
}


/* Banner design */

.banner-intro {
    font-size: 4.8rem;
    font-weight: 800;
    line-height: 97%;
    margin-bottom: 35px;
    letter-spacing: 1px;
  }

.join-btn {
    background: #E6533C;
    color: white;
    font-size: 1.1rem;
    border: 1px solid #E6533C;
    padding: 16px 40px;
    border-radius: 46px;
    margin-right: 12px;
}

.download {
    background: black;
    color: white;
    font-size: 1.1rem;
    border: 1px solid white;
    padding: 16px 40px;
    border-radius: 46px;
}

.banner {
    justify-content: space-between;
    gap: 430px;
    align-items: center;
    position: relative;
}


.card-1 {
    text-align: left;
    background: rgba(70, 70, 70, 0.283);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 15px 23px;
    border-radius: 12px;
    position: absolute;
    left: 90%;
    top: 20%;
    width: 190px;
}

.card-1 p {
    line-height: 0px;
    letter-spacing: 1px;
    font-size: 0.8rem;
    
}

.num1 {
    color: white;
    font-size: 2.2rem;
    font-weight: 900;
    letter-spacing: 2px;
    margin-bottom: 5px;
}

.card-2 {
    text-align: left;
    background: rgba(48, 48, 48, 0.283);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    padding: 15px 23px;
    position: absolute;
    align-items: center;
    gap: 20px;
    bottom: 12%;
    right: 20%;
    width: 190px;
}

.play {
    color: white;
    position: absolute;
    font-size: 1rem;
    right: 75%;
    display: none;
}

.card-2 p {
    line-height: 0px;
    letter-spacing: 1px;
    font-size: 0.8rem;
}

.num2 {
    color: white;
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: 1px;
  }

.fa-circle {
    color: #E6533C;
    font-size: 35px;
}


/* Change your habit section */

.change-habit-description {
    text-align: center;
    margin-bottom: 55px;
}

.habit-cards {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
}

.round-img {
    border-radius: 50%;
}

.round-intro {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 5px;
}


/* Run an extra mile section design */

.extra-mile {
    background: rgba(38, 38, 38, 0.689);
    border-radius: 18px;
    padding: 30px 40px;
    justify-content: space-between;
    align-items: center;
}

.extra-mile p {
    width: 50%;
    margin-bottom: 25px;
}

.extra-mile-img {
    width: 364px;
    height: 316px;
    object-fit: none;
    object-position: 67% 30%;
    border-radius: 18px;
}


/* BMI calculator section design */

.bmi-description {
    margin-left: 25%;
    margin-bottom: 60px;
}

.bmi-background {
    background: rgb(34, 34, 34);
}

.bmi-contents {
    justify-content: space-between;
}

.bmi-contents h5 {
    font-size: 1.7rem;
    margin-bottom: 5px;
}

/* Table */

table {
    border-collapse: collapse;
    margin-top: 20px;
}

th {
    text-align: left;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 15px 20px;
}
td {
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.5);
    padding: 10px 20px;
}

/* calculator input */

form {
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

input {
    padding: 10px;
    color: rgba(255, 255, 255, 0.737);
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.1);
    width: 260px;
    height: 30px;
}

select {
    padding: 10px;
    color: rgba(255, 255, 255, 0.737);
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.1);
    width: 280px;
    height: 50px;
}

.full-width {
    width: 100%;
}

.calculate {
    margin-top: 27px;
    margin-bottom: 40px;
    background: #E6533C;
    color: white;
    font-size: 1.1rem;
    border: 1px solid #E6533C;
    padding: 12px 40px;
    border-radius: 46px;
}

/* Meet our team section design */

.team-description {
    text-align: center;
    margin-bottom: 40px;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1rem 0;
    gap: 1rem;
}

.img-card {
    position: relative;
}

.card-text {
    line-height: 1px;
    position: absolute;
    top: 75%;
    margin-left: 15px;
}

.card-text h5 {
    font-size: 1.2rem;
}

.row img {
    width: 100%;
    height: 350px;
    border-radius: 18px;
    filter: brightness(0.8);
}

.row2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1rem 0;
    gap: 1rem;
}

.card-text2 {
    line-height: 1px;
    position: absolute;
    top: 75%;
    margin-left: 15px;
}

.card-text2 h5 {
    font-size: 1.2rem;
}

.row2 img {
    width: 100%;
    height: 350px;
    border-radius: 18px;
    filter: brightness(0.8);
}  


/* Our exclusive service section design */

.card h5 {
    font-size: 1.2rem;
}

.card p {
    width: 60%;
}

.cards {
   justify-content: space-between;
   margin-top: 40px;
   gap: 30px;
}

.card {
    height: 310px;
    width: 100%;
    background: rgba(38, 38, 38, 0.689);
    border-radius: 10px;
    padding: 10px 20px;
    transition: 0.7s;
}

.card i {
    color: #E6533C;
    font-size: 1.7rem;
    margin-top: 30px;
    margin-bottom: 15px;
}

.card:hover {
    background: linear-gradient(90deg,#dc371e,#E6533C);
    transform: translateY(-7px);
}

.card:hover i {
    color: white;
}


/* Footer design */

footer {
    background: linear-gradient(180deg, 
    rgb(11, 11, 11), 
    rgb(19, 19, 19)55%,
    rgb(9, 9, 9));
}

.footer-description h3{
    font-size: 4.5rem;
    margin-bottom: 20px;
}

.footer-description{
    width: 30%;
}

.get-started h4 {
    font-size: 2rem; 
}

.get-started p a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.2rem;
}
.footer-content {
    padding-top: 40px;
    justify-content: space-between;
    align-items: baseline;
}

.rights {
    text-align: center;
    padding-bottom: 20px;
}


/* Responsive design*/

@media screen and (max-width: 600px) {

    /* shared */

    h4 {
         font-size: 2rem;
    }

    p {
        font-size: 0.8rem;
    }

    /* Responsive Nav-bar */

    .nav-option { 
        display: none;
    }

    .ham-burger {
        display: block;
        font-size: 2rem;
    }

    .intro-title {
        font-size: 3rem;
    }

    .nav-bar {
        margin-top: -20px;
    }


    /* Responsive Banner */

    .banner{
        margin-top: -50px;
        flex-direction: column;
        gap: 20px;
    }

    .banner-intro {
        font-size: 3rem;
    }

    .miama {
        font-size: 6rem;
    }

    .banner-description p {
        width: 75%;
    }

    .join-btn {
        font-size: 0.8rem;
        padding: 12px 30px;
    }

    .download{
        font-size: 0.8rem;
        padding: 12px 30px;
    }

    .btn {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .card-1{
        width: 165px;
        left: 50%;
        top: 62%;
    }

    .num1{
        font-size: 1.7rem;
    }

    .num2 {
        font-size: 1.5rem
    }

    .white2 {
        font-size: 0.7rem;
    }

    .card-2 {
        width: 165px;
        bottom: 5%;
        right: 51%;
    }

    .play {
        display: block;
        right: 71%;
    }

    /* Responsive Change Your Habits */

    .habit-cards {
        grid-template-columns: 1fr;
    }

    .change-habit {
        margin-top: -50px;
    }

    /* Responsive Run an Extra Mile */

    .extra-mile {
        margin-top: -50px;
        flex-direction: column;
        padding-top: 5px;
        gap: 40px;
    }

    .extra-mile h4 {
        margin-top: 30px;
    }

    .extra-mile p {
        width: 85%;
    }

    .extra-mile img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        margin-bottom: 15px;
    }


    /* Responsive BMI Calculator */

    .bmi-description{
        margin-top: -50px;
        margin-left: 25px;
        width:80%;
    }
    .bmi-contents {
        flex-direction: column;
    }

    input {
        width: 139px;
    }

    select {
        width: 159px;
    }

    .full-width {
        width: 323px;
    }

    .calculate {
        font-size: 0.8rem;
    }

    /* Responsive Meet Our Team */

    .row, .row2 {
        grid-template-columns: 1fr;
    }


    /* Responsive Our Exclusive Service */

    .our-service {
        margin-top: -50px;
    }

    .cards {
        flex-direction: column;
    }

    .card {
        height: 310px;
        width: 90%;
    }


    /* Responsive Footer */

    .footer-content {
        margin-top: -10px;
        flex-direction: column;
    }

    .footer-description {
        width: 70%;
    }

}